.responsive-image-wrapper {
  max-width: 100vw;
}

.responsive-image-loader {
  background: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  overflow: hidden !important;
  height: 0;
  position: relative;
}

.responsive-image-image {
  position: absolute;
}

.responsive-image-image-loading {
  opacity: 0;
}

.responsive-image-image-loaded {
  opacity: 1;
  transition: opacity 500ms;
  transform: translate3d(0, 0, 0);
}
